#set($id=$ctx.args.id)

{
    "version": "2018-05-29",
    "statements": [
        "insert into project(id,title) values ('$id','$ctx.args.title')",
        "select * from project WHERE id = :ID"
    ],
    "variableMap": {
		":ID": $util.toJson($ctx.args.id.replace("'", "''").replace("\", "\\"))
	}
}