#set($id=$utils.autoId())

{
    "version": "2018-05-29",
    "statements": [
        "insert into project(id,title) values (UNHEX(REPLACE('$id','-','')),'$ctx.args.title')",
        "select * from project WHERE id = UNHEX(REPLACE('$id','-',''))"
    ],
}