#set($id=$ctx.args.id)

{
    "version": "2018-05-29",
    "statements": [
        "select * from project WHERE id = UNHEX(REPLACE('$id','-','')",
        "delete from project WHERE id = UNHEX(REPLACE('$id','-','')"
    ],
}