#**
Select statement for a relational database data source
*#
#set($id=$ctx.args.id)

{
    "version": "2018-05-29",
    "statements": [
        "select * from project where id = UNHEX(REPLACE('$id','-','')",
        "select * from task where projectId = UNHEX(REPLACE('$id','-','')"
    ]
}